.container {
  padding: 1.5rem 2rem 0;
  background: var(--mainColor);

  &:last-of-type {
     padding-bottom: 1rem;
  }

  h1 {
    margin-top: 0;
    font-size: 1.25rem;
  }

  h2 {
    font-size: 1rem;
    margin: 0;
  }
}
