.sidebar {
  color: #fff;
  padding: 0 0 1rem 1rem;
  @media (min-width: 800px){
    max-width: 20rem;
  }
}

.footer {
  width: 0;
  height: 0;
  border-left: 10rem solid transparent;
  border-right: 10rem solid transparent;
  border-top: 35px solid var(--sidebar-main-color);
}
