.bottomSM {
  margin-bottom: 0.5rem;
}

.bottomMD {
  margin-bottom: 1rem;
}

.bottomLG {
  margin-bottom: 2rem;
}

.leftSM {
  padding-left: 0.5rem;
}

.leftMD {
  padding-left: 1rem;
}

.leftLG {
  padding-left: 2rem;
}
