.inlineList {
  ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    &:not(:last-child):after {
      margin-right: 0.3rem;
      content: ',';
    }
  }
}

.title {
  color: var(--sidebar-main-color);
  margin-right: 0.5rem;
}
