@import "normalize.css";

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background: #F4F4F4;
  min-height: 100vh;
  padding: 3.125rem;
}
